@font-face {
  font-family:"Century-Expanded-Regular";
  src: local("Century-Expanded-Regular"),
  url("fonts/century-expanded-regular.otf")
}
@font-face {
  font-family: "Century-Expanded-Italic";
  src: local("Century-Expanded-Italic"),
  url("fonts/century-expanded-italic.otf")
}
@font-face {
  font-family: "Century-Expanded-Bold";
  src: url("fonts/century-expanded-bold.otf")
}


/* Margin Notes - Source: https://kennethfriedman.org/thoughts/2019/marginal-notes/ */
aside, .aside { /* works for "aside" tage and class "aside" */
  display: inline; /* prevents parent paragraph from breaking */
  float: right; /* positions the note to the right of the content */
  position: relative; /* forces note to be relative to its normal position */
  width: 20vw; /* limits the width of the marginal note */
  margin-right: -22vw; /* sets the distance away from the body text */
  font-size: 8pt; /* makes font slightly smaller */
}

body {
  max-width: 500px; /* provides maximum, in case screen is huge */
  width: 60%; /* keeps body text width reasonable */
  margin: 0 auto; /* centers body on page */
  font-family: Century-Expanded-Regular;
  text-align: justify;
}

button {
  position: sticky;
  top: 0in;
}

details > summary {
  font-family: Century-Expanded-Italic;
}

details > p {
  font-size: 9pt;
  margin-left: 0.25in;
  margin-right: 0.25in;
  text-indent: 0.15in;
}

dfn {
  font-family: "Century-Expanded-Regular";
  font-style: normal;
}

i, em {
  font-family: Century-Expanded-Italic;
  font-style: normal;
}


/* DIFFS */
body.LegislativeBill ins {
  background-color: #a0ffa0;
  text-decoration: underline;
}
body.LegislativeBill del {
  background-color: pink;
  text-decoration: line-through;
}
body.StatutoryCodification ins {
  background-color: white;
  text-decoration: none;
}
body.StatutoryCodification del {
  display: none;
  background-color: pink;
  text-decoration: line-through;
}
.moved-from {
  text-decoration-style: double;
  text-decoration-line: line-through;
  background-color: #FCFBB7;
}
.moved-to {
  text-decoration-style: double;
  text-decoration-line: underline;
  background-color: #FCFBB7;
}



/* DESIGNATOR LABELS AND VALUES */

.designator-label {
  display: inline;
  font-family:"Century-Expanded-Bold";
}

.designator-value {
  display: inline;
  font-family:"Century-Expanded-Bold";
}

body.LegislativeBill > main > section > div > p:first-child > span.designator-value::after {
  content: ".";
}

body.LegislativeBill > main > section > div[id$="_codification"] > p {
  text-indent:0in;
  font-family:"Century-Expanded-Bold";
  font-size:11pt;
  text-align:right;
}

body.LegislativeBill > main > section > div[id$="_codification"] > p::before {
  content:"[";
}

body.LegislativeBill > main > section > div[id$="_codification"] > p::after {
  content:"]";
}



/* 

  PARAGRAPH ELEMENTS

*/

/* 
  LEGISLATIVE BILLS
*/

body.LegislativeBill > main p.enactingFormula {
  text-indent: 0.0in;
}

body.LegislativeBill > main p {
  text-indent: 0.25in;
}

/* HEADER STYLES */

/* Old Header */
body.LegislativeBill > header.era0 > p.chapter, /* Old session laws were divided into "chapters" */
body.LegislativeBill > header.era0 > p.billDescription { /* Old session laws contained a brief description of the bill */
  text-align: center;
  text-transform: uppercase;
}
/* Identifies the Legislative Bill Number */
/* Formerly .lb */
body.LegislativeBill > header.era0 > p.billNumber {
  font-family: "Century-Expanded-Bold";
  text-transform: none;
  text-align: center;
}
/* Names of who introduced the Legislative Bill */
/* Formerly .intro */
body.LegislativeBill > header.era0 > p.introducedBy {
  text-transform: uppercase;
  padding-left: 0.5in;
  text-indent: -0.5in;
}

body.LegislativeBill > header.era0 > p.billTitle {
  padding-left: 0.5in;
  text-indent: -0.5in;
}

/* era0 <main> */
body.LegislativeBill > main.era0 > p.enactingFormula {
  font-family: "Century-Expanded-Italic";
}

/* era1 <header> */
body.LegislativeBill > header.era1 > p.billNumber {
  font-family: "Century-Expanded-Bold";
  text-transform: uppercase;
  text-align: center;
}
body.LegislativeBill > header.era1 > p.approved {
  text-align: center;
}
body.LegislativeBill > header.era1 > p.approved::before {
  content:"";
}

body.LegislativeBill > header.era1 > p.introducedBy {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
body.LegislativeBill > header.era1 > p.billTitle {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
body.LegislativeBill > header.era1 > p.billTitle > cite {
  text-wrap: nowrap;
}

/* era1 <main> */

body.LegislativeBill > main.era1 > p.enactingFormula {
  font-family: "Century-Expanded-Regular";
}

body.StatutoryCodification > header > p.version-number,
body.StatutoryCodification > header > p.amended-through,
body.StatutoryCodification > header > p.effective-date {
  text-align: center;
}
body.StatutoryCodification > header > p.version-number::before,
body.StatutoryCodification > header > p.amended-through::before,
body.StatutoryCodification > header > p.effective-date::before {
  content: "[";
}
body.StatutoryCodification > header > p.version-number::after,
body.StatutoryCodification > header > p.amended-through::after,
body.StatutoryCodification > header > p.effective-date::after {
  content: "]";
}
body.StatutoryCodification > main p {
  text-indent: 0.25in;
}

cite {
  font-family: Century-Expanded-Regular;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-style:normal;
  font-family: Century-Expanded-Bold;
  font-size: 12pt;
}

nav ul,
nav ol {
  display: inline-block;
  list-style-type: none;
  padding-left: 0in;
}
nav li {
  display: inline-block;
}

p.chapeau {
  text-indent: 0.25in;
}

p.printRef {
  text-align: center;
}
p.printRef::before {
  content: "[";
}
p.printRef::after {
  content: "]";
}

section > div[id$="_heading"] > h1 > span.designator-value::after {
  content: ".";
}

.starPage {
  font-family: "Century-Expanded-Bold";
}
.starPage::before {
  content: "\002A";
}

sup {
  font-size: 10pt;
}


/* TABLE */
table {
  table-layout: fixed;
  width: 100%;
}
td {
  vertical-align: top;
}